:root.dark {
    --text-color : #FFFFFF;
    --icon-filter : brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(282%) hue-rotate(351deg) brightness(118%) contrast(100%);
    --background : #171C28;
    --color-box-shadow : rgba(0, 0, 0, 0.20);
    --action-group-color : #292E39;
}