:root {
    --text-color : #1A162E;
    --icon-filter : brightness(0) saturate(100%) invert(8%) sepia(12%) saturate(4506%) hue-rotate(218deg) brightness(89%) contrast(95%);
    --background : #EEEEEE;
    --color-box-shadow : rgba(237, 237, 246, 0.2);
    --action-group-color : #FFFFFF;
}