:root { 
    font-size: 62.5%;

}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Gordita" , sans-serif;
    color: var(--text-color);
    transition: all .4s;
}

button , select , textarea {
    background: transparent;
    border: none;
}

a {
    text-decoration: none;
}

.icon {
    filter: var(--icon-filter);
    transition: all .4s;
}

