<div class="container">
    <div class="header-top">
        <!-- More (Tablet , Mobile) -->
        <button class="more">
            <img src="./assests/icons/more.svg" alt="" class="more__icon">
        </button>
        <a href="./" class="logo">
            <img src="./assests/icons/main_icon.svg" alt="grocerymart" class="logo__icon">
            <h1 class="logo__heading">grocerymart</h1>
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    Departments
                    <img src="./assests/icons/down.svg" alt="" class="nav__icon">
                </li>
                <li class="nav__item">
                    Grocery
                    <img src="./assests/icons/down.svg" alt="" class="nav__icon">
                </li>
                <li class="nav__item">
                    Beauty
                    <img src="./assests/icons/down.svg" alt="" class="nav__icon">
                </li>
            </ul>
        </nav>
        <div class="action">
            <div class="action__group">
                <button class="action__btn action__btn--single">
                    <img src="./assests/icons/light.svg" alt="" class="action__icon">
                </button>
            </div>
            <div class="action__group">
                <div class="action__wrap">
                    <button class="action__btn">
                        <img src="./assests/icons/heart.svg" alt="" class="action__icon">
                        03
                    </button>
                </div>
    
                <div class="seperate">
    
                </div>
    
                <div class="action__group">
                    <button class="action__btn">
                        <img src="./assests/icons/buy.svg" alt="" class="action__icon">
                        $65.42
                    </button>
                </div>
            </div>
            <img src="https://play-lh.googleusercontent.com/hJGHtbYSQ0nCnoEsK6AGojonjELeAh_Huxg361mVrPmzdwm8Ots-JzEH5488IS2nojI=w240-h480-rw" alt="avatar" class="action__avt">
        </div>
    </div>
</div>